[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {setup, [
    {data_dir, "."},
    {log_dir, "."}
 ]},
 {amqp_client, [
   { prefer_ipv6, false }
 ]},
 {kernel,
   [{logger_level, all},
    {logger,
     [{handler, default, logger_std_h,
       #{ level => notice }},
      {handler, debug, logger_std_h,
       #{ filters => [{debug,{fun logger_filters:level/2, {stop, neq, debug}}}],
          config => #{ file => "log/debug.log" } }},
      {handler, info, logger_std_h,
        #{ filters => [{info,{fun logger_filters:level/2, {stop, neq, info}}}],
           config => #{ file => "log/info.log" } }},
      {handler, warning, logger_std_h,
        #{ filters => [{warning,{fun logger_filters:level/2, {stop, neq, warning}}}],
           config => #{ file => "log/warning.log" } }},
      {handler, error, logger_std_h,
        #{ filters => [{error,{fun logger_filters:level/2, {stop, neq, error}}}],
           config => #{ file => "log/error.log" } }}
     ]}]}
].

